.main{
    width: 1512px;
    /* height: 958px; */
    height: 100vh;
    overflow-y: hidden;
    top: 44px;
    border: 1px;
    background: 
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid rgba(205, 205, 205, 1);
    /* linear-gradient(0deg, #CDCDCD, #CDCDCD), */

}
.view-button{
    width: 128px;
    height: 58px;
    top: 32px;
    left: 1344px;
    padding: 20px, 45px, 21px, 44px;
    border-radius: 5px;
    border: 2px;
    color : linear-gradient(0deg, #0500FF, #0500FF),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 2px solid rgba(5, 0, 255, 1);
}
.butt{
    margin-top: 30px;
}
.form{
    width: 1512px;
    /* height: 958px; */
    height: 100vh;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forms{
    /* width: ; */
    width: 464px;
    height: 444px;
    top: 257px;
    left: 524px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.name{
    width: 66px;
    height: 21px;
    top: 257px;
    left: 525px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(92, 92, 92, 1);

}
.nameinput{
    width: 462px;
    height: 59px;
    top: 284px;
    left: 525px;

}
.photo{
    width: 165.56px;
    height: 21px;
    top: 358px;
    left: 525px;
    width: 165.56px;
    height: 21px;
    top: 358px;
    left: 525px;
    color: rgba(92, 92, 92, 1);

}
.photoInput{
    width: 463px;
    height: 234px;
    top: 382px;
    left: 525px;
    padding: 0px, 1px, 5px, 0px;
    background: linear-gradient(0deg, #CDCDCD, #CDCDCD),
    linear-gradient(0deg, #EEEEEE, #EEEEEE);
    border: 2px solid rgba(205, 205, 205, 1);

}
.upload-button{
    width: 463px;
height: 61px;
top: 640px;
left: 524px;
border-radius: 10px;
/* // On click
// Navigate to: "None";
// Animate: Dissolve; */
/* Spring: { mass: 1, stiffness: 100, damping: 15 }; */
background: rgba(5, 0, 255, 1);
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
/* // On click
// Navigate to: "None";
// Animate: Instant;
animation-duration: 0ms; */


}
